# Environment files
.env
.env.backup
.env.production
.env.local
.env.development
.env.staging

# Vendor & Node dependencies
/vendor
/node_modules

# Build assets & logs
*.log
npm-debug.log
yarn-error.log
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*

# Development & Testing tools
.phpunit.result.cache
/.phpunit.cache
.phpactor.json
Homestead.json
Homestead.yaml

# IDEs & System files
.DS_Store
Thumbs.db
/.vscode
/.idea
/.fleet
/.nova
/.zed
/auth.json
